# Ignore VertX file cache
.vertx/

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### OS and Application Log ###
.DS_Store
*.log
*.class
/target/
/data/